

body, html{
  height: 100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

 .pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    Fixed = Parallax
    Scroll = Normal
  */
  background-attachment:fixed;
}
.pimg1{
  background-image:url('../images/desert.jpeg');
  min-height:100vh;
}
.pimg2{
  background-image:url('../images/snow.jpeg');
  min-height:400px;
}
.pimg3{
  background-image:url('../images/autumn.jpeg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  text-shadow: 1px 1px 2px black;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .borderwelcome{
  background-color:#111;
  color:#fff;
  padding:20px;
  letter-spacing:4px;
  text-transform:capitalize;
  position:relative;
  top:1%;
  width:100%;
}
.ptext .border.trans{
  background-color:transparent;
}

.profilepic{
  border-radius:50%;
  overflow:hidden;
  width:150px;
  height:150px;
}
.profileLeft{
  display: inline-block;
  width:30%;
  float:left;
  text-align:left;
  padding:20px;
  margin: 0 0 0 10vw;
}
.profileRight{
  display: inline-block;
  width:30%;
  float:right;
  text-align: left;
  padding:20px;
  margin: 0 10vw 0 0;
}

.experienceLeft{
  display: inline-block;
  width:30%;
  float:left;
  text-align:left;
  padding:5px;
  margin: 0 0 0 10vw;
}
.experienceRight{
  display: inline-block;
  width:30%;
  float:right;
  text-align: left;
  padding:5px;
  margin: 0 10vw 0 0;
}

.clear {
  clear:both;
}

.ContactWrapper {
  text-align: center;
}
.contacts {
  display: inline-block;
  text-align: left;
}

.hyperlink {
  color: #ddd;
  text-decoration: none;
}

footer hr{
  border: none;
  background-color: #33383c;
  color: #33383c;
  height: 1px;
}
footer p{
  font-size: 14px;
  text-align: right;
}

.toTop{
  text-decoration: none;
  font-size: 12px;
  padding: 5px;
  color: white;
  background-color: none;
  border: solid;
  border-color: #33383c;
  border-radius: 0px;
  border-width: thin;
}
.toTop:hover{
  background-color: #33383c;
  cursor: pointer;
}
.toTop:active{
  border-width: medium;
}

.toProfile{
}
.toProfile:hover{
  cursor: pointer;
}


#particles-js{
  background:firebrick;
  height:400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
  .profileLeft .profileRight{
    margin:0px 0 0 0;
    padding:0px
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
